<div class="highlight"><pre>&gt;&gt; y Rails.application.config.assets.paths
---
- /Users/eberry/example/app/assets/images
- /Users/eberry/example/app/assets/javascripts
- /Users/eberry/example/app/assets/stylesheets
- /Users/eberry/example/vendor/assets/javascripts
- /Users/eberry/example/vendor/assets/stylesheets
- /Users/eberry/.rvm/gems/ruby-1.9.2-p290/gems/jquery-rails-2.0.2/vendor/assets/javascripts
- /Users/eberry/.rvm/gems/ruby-1.9.2-p290/gems/coffee-rails-3.2.2/lib/assets/javascripts
</pre>
</div>
