<div class="highlight"><pre><span class="nt">a</span><span class="nd">:active</span> <span class="p">{</span>
  <span class="k">outline</span><span class="o">:</span> <span class="k">none</span><span class="p">;</span>
<span class="p">}</span>
<span class="nt">a</span><span class="nd">:focus</span> <span class="p">{</span>
  <span class="o">-</span><span class="n">moz</span><span class="o">-</span><span class="k">outline</span><span class="o">-</span><span class="n">style</span><span class="o">:</span> <span class="k">none</span><span class="p">;</span>
<span class="p">}</span>
<span class="nf">#tabs_container</span> <span class="p">{</span>
  <span class="k">width</span><span class="o">:</span> <span class="m">400px</span><span class="p">;</span>
  <span class="k">font-family</span><span class="o">:</span> <span class="n">Arial</span><span class="o">,</span> <span class="n">Helvetica</span><span class="o">,</span> <span class="k">sans-serif</span><span class="p">;</span>
  <span class="k">font-size</span><span class="o">:</span> <span class="m">12px</span><span class="p">;</span>
<span class="p">}</span>
<span class="nf">#tabs_container</span> <span class="nt">ul</span><span class="nc">.tabs</span> <span class="p">{</span>
  <span class="k">list-style</span><span class="o">:</span> <span class="k">none</span><span class="p">;</span>
  <span class="k">border-bottom</span><span class="o">:</span> <span class="m">1px</span> <span class="k">solid</span> <span class="m">#ccc</span><span class="p">;</span>
  <span class="k">height</span><span class="o">:</span> <span class="m">21px</span><span class="p">;</span>
  <span class="k">margin</span><span class="o">:</span> <span class="m">0</span><span class="p">;</span>
<span class="p">}</span>
<span class="nf">#tabs_container</span> <span class="nt">ul</span><span class="nc">.tabs</span> <span class="nt">li</span> <span class="p">{</span>
  <span class="k">float</span><span class="o">:</span> <span class="k">left</span><span class="p">;</span>
<span class="p">}</span>
<span class="nf">#tabs_container</span> <span class="nt">ul</span><span class="nc">.tabs</span> <span class="nt">li</span> <span class="nt">a</span> <span class="p">{</span>
  <span class="k">padding</span><span class="o">:</span> <span class="m">3px</span> <span class="m">10px</span><span class="p">;</span>
  <span class="k">display</span><span class="o">:</span> <span class="k">block</span><span class="p">;</span>
  <span class="k">border-left</span><span class="o">:</span> <span class="m">1px</span> <span class="k">solid</span> <span class="m">#ccc</span><span class="p">;</span>
  <span class="k">border-top</span><span class="o">:</span> <span class="m">1px</span> <span class="k">solid</span> <span class="m">#ccc</span><span class="p">;</span>
  <span class="k">border-right</span><span class="o">:</span> <span class="m">1px</span> <span class="k">solid</span> <span class="m">#ccc</span><span class="p">;</span>
  <span class="k">margin-right</span><span class="o">:</span> <span class="m">2px</span><span class="p">;</span>
  <span class="k">text-decoration</span><span class="o">:</span> <span class="k">none</span><span class="p">;</span>
  <span class="k">background-color</span><span class="o">:</span> <span class="m">#efefef</span><span class="p">;</span>
<span class="p">}</span>
<span class="nf">#tabs_container</span> <span class="nt">ul</span><span class="nc">.tabs</span> <span class="nt">li</span><span class="nc">.active</span> <span class="nt">a</span> <span class="p">{</span>
  <span class="k">background-color</span><span class="o">:</span> <span class="m">#fff</span><span class="p">;</span>
  <span class="k">padding-top</span><span class="o">:</span> <span class="m">4px</span><span class="p">;</span>
<span class="p">}</span>
<span class="nt">div</span><span class="nc">.tab_contents_container</span> <span class="p">{</span>
  <span class="k">border</span><span class="o">:</span> <span class="m">1px</span> <span class="k">solid</span> <span class="m">#ccc</span><span class="p">;</span>
  <span class="k">border-top</span><span class="o">:</span> <span class="k">none</span><span class="p">;</span>
  <span class="k">padding</span><span class="o">:</span> <span class="m">10px</span><span class="p">;</span>
<span class="p">}</span>
<span class="nt">div</span><span class="nc">.tab_contents</span> <span class="p">{</span>
  <span class="k">display</span><span class="o">:</span> <span class="k">none</span><span class="p">;</span>
<span class="p">}</span>
<span class="nt">div</span><span class="nc">.tab_contents_active</span> <span class="p">{</span>
  <span class="k">display</span><span class="o">:</span> <span class="k">block</span><span class="p">;</span>
<span class="p">}</span>
<span class="nt">div</span><span class="nc">.clear</span> <span class="p">{</span>
  <span class="k">clear</span><span class="o">:</span> <span class="k">both</span><span class="p">;</span>
<span class="p">}</span>
</pre>
</div>
