<div class="highlight"><pre><span class="o">&lt;/</span><span class="nt">p</span><span class="o">&gt;</span>

<span class="o">&lt;</span><span class="nt">pre</span><span class="o">&gt;&lt;</span><span class="nt">code</span><span class="o">&gt;//</span><span class="nt">-------------------------------------------------------------------------------</span>
<span class="o">//</span>   <span class="nt">Pagination</span> <span class="nt">fix</span> <span class="nt">for</span> <span class="nt">will_paginate</span> <span class="nt">and</span> <span class="nt">bootstrap</span>
<span class="o">//</span><span class="nt">-------------------------------------------------------------------------------</span>

<span class="nc">.pagination</span> <span class="p">{</span>
  <span class="n">span</span><span class="o">.</span><span class="n">disabled</span> <span class="err">{</span>
    <span class="k">color</span><span class="o">:</span> <span class="m">#aaa</span> <span class="cp">!important</span><span class="p">;</span>
  <span class="p">}</span>
  <span class="nt">em</span><span class="nc">.current</span> <span class="p">{</span>
    <span class="k">float</span><span class="o">:</span> <span class="k">left</span><span class="p">;</span>
    <span class="k">padding</span><span class="o">:</span> <span class="m">0</span> <span class="m">14px</span><span class="p">;</span>
    <span class="k">line-height</span><span class="o">:</span> <span class="m">38px</span><span class="p">;</span>
    <span class="k">text-decoration</span><span class="o">:</span> <span class="k">none</span><span class="p">;</span>
    <span class="k">background-color</span><span class="o">:</span> <span class="nb">white</span><span class="p">;</span>
    <span class="k">border</span><span class="o">:</span> <span class="m">1px</span> <span class="k">solid</span> <span class="m">#DDD</span><span class="p">;</span>
    <span class="k">border-left-width</span><span class="o">:</span> <span class="m">0</span><span class="p">;</span>
  <span class="p">}</span>
  <span class="nc">.previous_page</span> <span class="p">{</span>
    <span class="k">border-left</span><span class="o">:</span> <span class="m">1px</span> <span class="k">solid</span> <span class="m">#ddd</span><span class="p">;</span>
  <span class="p">}</span>
<span class="err">}</span>
<span class="o">&lt;/</span><span class="nt">code</span><span class="o">&gt;&lt;/</span><span class="nt">pre</span><span class="o">&gt;</span>

<span class="o">&lt;</span><span class="nt">p</span><span class="o">&gt;</span>
</pre>
</div>
