<div class="highlight"><pre><span class="err">&lt;</span>%= javascript_include_tag(&quot;footer&quot;) %&gt;
  <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre>
</div>
