<div class="highlight"><pre><span class="nt">&lt;shiro:hasPermission</span> <span class="na">type=</span><span class="s">&quot;type&quot;</span> 
                     <span class="na">permission=</span><span class="s">&quot;permission&quot;</span> 
                     <span class="na">actions=</span><span class="s">&quot;actions&quot;</span> 
                     <span class="na">target=</span><span class="s">&quot;target&quot;</span><span class="nt">&gt;</span>Body<span class="nt">&lt;/shiro:hasPermission&gt;</span>
</pre>
</div>
