<div class="highlight"><pre><span class="kn">package</span> <span class="n">org</span><span class="o">.</span><span class="na">example</span>

<span class="kd">public</span> <span class="kd">enum</span> <span class="n">ApprovalStatusEnum</span> <span class="o">{</span>
    <span class="n">PENDING</span><span class="o">,</span> <span class="n">APPROVED</span><span class="o">,</span> <span class="n">REJECTED</span>
<span class="o">}</span>
</pre>
</div>
