<div class="highlight"><pre><span class="kn">package</span> <span class="n">org</span><span class="o">.</span><span class="na">example</span>

<span class="kd">class</span> <span class="nc">PluginPendingApproval</span> <span class="o">{</span>
  
  <span class="kd">static</span> <span class="kd">final</span> <span class="kt">int</span> <span class="n">STATUS_PENDING</span>  <span class="o">=</span> <span class="mi">1</span>
  <span class="kd">static</span> <span class="kd">final</span> <span class="kt">int</span> <span class="n">STATUS_APPROVED</span> <span class="o">=</span> <span class="mi">2</span>
  <span class="kd">static</span> <span class="kd">final</span> <span class="kt">int</span> <span class="n">STATUS_REJECTED</span> <span class="o">=</span> <span class="mi">3</span>

  <span class="kt">int</span> <span class="n">status</span>

  <span class="kd">static</span> <span class="n">constraints</span> <span class="o">=</span> <span class="o">{</span>
    <span class="n">status</span> <span class="nl">blank:</span> <span class="kc">false</span><span class="o">,</span> <span class="nl">inList:</span> <span class="o">[</span>
      <span class="n">STATUS_PENDING_APPROVAL</span><span class="o">,</span> <span class="n">STATUS_APPROVED</span><span class="o">,</span> <span class="n">STATUS_REJECTED</span>
    <span class="o">]</span>
  <span class="o">}</span>

<span class="o">}</span>
</pre>
</div>
