<div class="highlight"><pre><span class="p">{</span>
  <span class="s2">&quot;episode&quot;</span><span class="o">:</span> <span class="p">{</span>
    <span class="s2">&quot;id&quot;</span><span class="o">:</span> <span class="mi">1</span><span class="p">,</span>
    <span class="s2">&quot;title&quot;</span><span class="o">:</span> <span class="s2">&quot;#412 Fast Rails Commands&quot;</span><span class="p">,</span>
    <span class="s2">&quot;description&quot;</span><span class="o">:</span> <span class="s2">&quot;Rails commands, such as generators, migrations, and tests, have a tendency to be slow because they need to load the Rails app each time. Here I show three tools to make this faster: Zeus, Spring, and Commands.&quot;</span><span class="p">,</span>
    <span class="s2">&quot;pub_date&quot;</span><span class="o">:</span> <span class="s2">&quot;2013-04-04T07:00:00.000Z&quot;</span><span class="p">,</span>
    <span class="s2">&quot;video_url&quot;</span><span class="o">:</span> <span class="s2">&quot;http://media.railscasts.com/assets/episodes/videos/412-fast-rails-commands.mp4&quot;</span><span class="p">,</span>
    <span class="s2">&quot;link&quot;</span><span class="o">:</span> <span class="s2">&quot;http://railscasts.com/episodes/412-fast-rails-commands&quot;</span><span class="p">,</span>
    <span class="s2">&quot;guid&quot;</span><span class="o">:</span> <span class="s2">&quot;fast-rails-commands&quot;</span><span class="p">,</span>
    <span class="s2">&quot;duration&quot;</span><span class="o">:</span> <span class="s2">&quot;8:06&quot;</span><span class="p">,</span>
    <span class="s2">&quot;source&quot;</span><span class="o">:</span> <span class="s2">&quot;railscasts&quot;</span><span class="p">,</span>
    <span class="s2">&quot;created_at&quot;</span><span class="o">:</span> <span class="s2">&quot;2013-04-23T04:46:32.768Z&quot;</span><span class="p">,</span>
    <span class="s2">&quot;updated_at&quot;</span><span class="o">:</span> <span class="s2">&quot;2013-04-23T04:46:32.768Z&quot;</span>
  <span class="p">}</span>
<span class="p">}</span>
</pre>
</div>
