<div class="highlight"><pre>    <span class="n">plugins</span> <span class="o">{</span>
        <span class="o">...</span>
        <span class="n">runtime</span> <span class="s">&quot;:shiro:1.2.0-SNAPSHOT&quot;</span>
        <span class="o">...</span>
</pre>
</div>
