<div class="highlight"><pre><span class="o">&gt;</span> <span class="n">msg</span> <span class="o">=</span> <span class="n">my_queue</span><span class="o">.</span><span class="n">pop</span><span class="o">[</span><span class="ss">:payload</span><span class="o">]</span>
 <span class="o">=&gt;</span> <span class="s2">&quot;This is a test message&quot;</span>
<span class="o">&gt;</span> <span class="n">my_queue</span><span class="o">.</span><span class="n">message_count</span>
 <span class="o">=&gt;</span> <span class="mi">0</span>
</pre>
</div>
