<div class="highlight"><pre><span class="n">config</span><span class="o">.</span><span class="n">vm</span><span class="o">.</span><span class="n">forward_port</span> <span class="s2">&quot;tcp&quot;</span><span class="p">,</span> <span class="mi">5672</span><span class="p">,</span> <span class="mi">5672</span>
</pre>
</div>
