<div class="highlight"><pre><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Current Contest: </span><span class="si">#{</span><span class="vi">@contest</span><span class="o">.</span><span class="n">name</span><span class="si">}</span><span class="s2">&quot;</span>
<span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;Current User: </span><span class="si">#{</span><span class="vi">@contest</span><span class="o">.</span><span class="n">name</span><span class="si">}</span><span class="s2">&quot;</span>
</pre>
</div>
