<div class="highlight"><pre><span class="c1"># lib/railscast_feed.rb</span>

<span class="nb">require</span> <span class="s1">&#39;feedzirra&#39;</span>
<span class="k">class</span> <span class="nc">RailscastFeed</span>

  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">sync</span>
    <span class="c1"># add additional elements to be parsed from the feed entries</span>
    <span class="no">Feedzirra</span><span class="o">::</span><span class="no">Feed</span><span class="o">.</span><span class="n">add_common_feed_entry_element</span><span class="p">(</span><span class="ss">:enclosure</span><span class="p">,</span> <span class="ss">:value</span> <span class="o">=&gt;</span> <span class="ss">:url</span><span class="p">,</span> <span class="ss">:as</span> <span class="o">=&gt;</span> <span class="ss">:video_url</span><span class="p">)</span>
    <span class="no">Feedzirra</span><span class="o">::</span><span class="no">Feed</span><span class="o">.</span><span class="n">add_common_feed_entry_element</span><span class="p">(</span><span class="s1">&#39;itunes:duration&#39;</span><span class="p">,</span> <span class="ss">:as</span> <span class="o">=&gt;</span> <span class="ss">:duration</span><span class="p">)</span>

    <span class="n">feed_url</span> <span class="o">=</span> <span class="s2">&quot;http://feeds.feedburner.com/railscasts&quot;</span>

    <span class="n">feed</span> <span class="o">=</span> <span class="no">Feedzirra</span><span class="o">::</span><span class="no">Feed</span><span class="o">.</span><span class="n">fetch_and_parse</span><span class="p">(</span><span class="n">feed_url</span><span class="p">)</span>
    <span class="n">feed</span><span class="o">.</span><span class="n">entries</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">entry</span><span class="o">|</span>
      <span class="nb">puts</span> <span class="s2">&quot;ENTRY: </span><span class="si">#{</span><span class="n">entry</span><span class="o">.</span><span class="n">inspect</span><span class="si">}</span><span class="s2">&quot;</span>
      <span class="no">Episode</span><span class="o">.</span><span class="n">create_from</span><span class="p">(</span><span class="n">entry</span><span class="p">,</span> <span class="s1">&#39;railscasts&#39;</span><span class="p">)</span>
    <span class="k">end</span>
  <span class="k">end</span>

<span class="k">end</span>
</pre>
</div>
