<div class="highlight"><pre><span class="c1"># Precompile additional assets (application.js, </span>
<span class="c1"># application.css, and all non-JS/CSS are already added)</span>
<span class="n">config</span><span class="o">.</span><span class="n">assets</span><span class="o">.</span><span class="n">precompile</span> <span class="o">+=</span> <span class="sx">%w( search.js )</span>
</pre>
</div>
