<div class="highlight"><pre><span class="o">&gt;</span> <span class="kp">loop</span> <span class="k">do</span>
<span class="o">&gt;</span>   <span class="k">if</span> <span class="n">my_queue</span><span class="o">.</span><span class="n">message_count</span> <span class="o">&gt;</span> <span class="mi">0</span>
<span class="o">&gt;</span>     <span class="n">msg</span> <span class="o">=</span> <span class="n">my_queue</span><span class="o">.</span><span class="n">pop</span><span class="o">[</span><span class="ss">:payload</span><span class="o">]</span>
<span class="o">&gt;</span>     <span class="nb">puts</span> <span class="s2">&quot;Found Message: </span><span class="si">#{</span><span class="n">msg</span><span class="si">}</span><span class="s2">&quot;</span>
<span class="o">&gt;</span>   <span class="k">else</span>
<span class="o">&gt;</span>     <span class="nb">sleep</span> <span class="mi">5</span>
<span class="o">&gt;</span>   <span class="k">end</span>
<span class="o">&gt;</span> <span class="k">end</span>
</pre>
</div>
