<div class="highlight"><pre><span class="c1"># config/routes.rb</span>

<span class="no">AngularCasts</span><span class="o">::</span><span class="no">Application</span><span class="o">.</span><span class="n">routes</span><span class="o">.</span><span class="n">draw</span> <span class="k">do</span>
  <span class="c1"># resources :episodes</span>
  <span class="n">get</span> <span class="s1">&#39;/episodes&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;episodes#index&#39;</span>
  <span class="n">get</span> <span class="s1">&#39;/episodes/:guid&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;episodes#show&#39;</span>
<span class="k">end</span>
</pre>
</div>
