<div class="highlight"><pre><span class="c1"># Found in code of controller</span>
<span class="k">if</span> <span class="n">session</span><span class="o">[</span><span class="ss">:template_name</span><span class="o">]</span> <span class="o">==</span> <span class="s2">&quot;website1&quot;</span>
  <span class="no">Website1</span><span class="o">.</span><span class="n">deliver_welcome_email</span><span class="p">(</span><span class="s2">&quot;cavneb@gmail.com&quot;</span><span class="p">)</span>
<span class="k">else</span>
  <span class="no">Website2</span><span class="o">.</span><span class="n">deliver_welcome_email</span><span class="p">(</span><span class="s2">&quot;cavneb@gmail.com&quot;</span><span class="p">)</span>
<span class="k">end</span>
</pre>
</div>
