<div class="highlight"><pre><span class="n">logger</span><span class="o">.</span><span class="n">info</span> <span class="s2">&quot;&quot;&quot;</span>
<span class="s2">    Current Contest: </span><span class="si">#{</span><span class="vi">@contest</span><span class="o">.</span><span class="n">name</span><span class="si">}</span><span class="s2"></span>
<span class="s2">    Current User: </span><span class="si">#{</span><span class="vi">@contest</span><span class="o">.</span><span class="n">name</span><span class="si">}</span><span class="s2"></span>
<span class="s2">&quot;&quot;&quot;</span>
</pre>
</div>
