<div class="highlight"><pre><span class="c1"># app/models/episode.rb</span>

<span class="k">class</span> <span class="nc">Episode</span> <span class="o">&lt;</span> <span class="no">ActiveRecord</span><span class="o">::</span><span class="no">Base</span>

  <span class="n">validates</span> <span class="ss">:guid</span><span class="p">,</span> <span class="n">presence</span><span class="p">:</span> <span class="kp">true</span><span class="p">,</span> <span class="n">uniqueness</span><span class="p">:</span> <span class="o">[</span> <span class="n">scope</span><span class="p">:</span> <span class="ss">:source</span> <span class="o">]</span>
  <span class="n">validates</span> <span class="ss">:title</span><span class="p">,</span> <span class="ss">:description</span><span class="p">,</span> <span class="ss">:pub_date</span><span class="p">,</span> <span class="ss">:video_url</span><span class="p">,</span> <span class="ss">:link</span><span class="p">,</span> <span class="ss">:source</span><span class="p">,</span> <span class="n">presence</span><span class="p">:</span> <span class="kp">true</span>

  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">create_from</span><span class="p">(</span><span class="n">entry</span><span class="p">,</span> <span class="n">source</span><span class="p">)</span>
    <span class="no">Episode</span><span class="o">.</span><span class="n">where</span><span class="p">(</span><span class="ss">:guid</span> <span class="o">=&gt;</span> <span class="n">entry</span><span class="o">.</span><span class="n">entry_id</span><span class="p">,</span> <span class="ss">:source</span> <span class="o">=&gt;</span> <span class="n">source</span><span class="p">)</span><span class="o">.</span><span class="n">first_or_create</span><span class="p">(</span>
      <span class="n">title</span><span class="p">:</span>       <span class="n">entry</span><span class="o">.</span><span class="n">title</span><span class="p">,</span>
      <span class="n">description</span><span class="p">:</span> <span class="n">entry</span><span class="o">.</span><span class="n">summary</span><span class="p">,</span>
      <span class="n">pub_date</span><span class="p">:</span>    <span class="n">entry</span><span class="o">.</span><span class="n">published</span><span class="p">,</span>
      <span class="n">video_url</span><span class="p">:</span>   <span class="n">entry</span><span class="o">.</span><span class="n">video_url</span><span class="p">,</span>
      <span class="n">link</span><span class="p">:</span>        <span class="n">entry</span><span class="o">.</span><span class="n">url</span><span class="p">,</span>
      <span class="n">duration</span><span class="p">:</span>    <span class="n">entry</span><span class="o">.</span><span class="n">duration</span>
    <span class="p">)</span>
  <span class="k">end</span>

<span class="k">end</span>
</pre>
</div>
