<div class="highlight"><pre><span class="k">module</span> <span class="nn">Foo</span>
  <span class="k">class</span> <span class="nc">Application</span> <span class="o">&lt;</span> <span class="no">Rails</span><span class="o">::</span><span class="no">Application</span>
    <span class="o">.</span><span class="n">.</span><span class="o">.</span>
    <span class="c1"># Add additional path to the assets path for pipeline compilation</span>
    <span class="n">config</span><span class="o">.</span><span class="n">assets</span><span class="o">.</span><span class="n">paths</span> <span class="o">&lt;&lt;</span> <span class="s2">&quot;</span><span class="si">#{</span><span class="no">Rails</span><span class="o">.</span><span class="n">root</span><span class="si">}</span><span class="s2">/other/assets&quot;</span>
  <span class="k">end</span>
<span class="k">end</span>
</pre>
</div>
