<div class="highlight"><pre><span class="n">vagrant</span><span class="vi">@lucid32</span><span class="ss">:~</span><span class="err">$</span> <span class="n">sudo</span> <span class="n">rabbitmqctl</span> <span class="n">list_queues</span>
<span class="no">Listing</span> <span class="n">queues</span> <span class="o">.</span><span class="n">.</span><span class="o">.</span>
<span class="n">my_first_queue</span>  <span class="mi">1</span>
<span class="o">.</span><span class="n">.</span><span class="o">.</span><span class="n">done</span><span class="o">.</span>
<span class="n">vagrant</span><span class="vi">@lucid32</span><span class="ss">:~</span><span class="err">$</span>
</pre>
</div>
