<div class="highlight"><pre><span class="c1"># app/models/episodes_controller.rb</span>

<span class="k">class</span> <span class="nc">EpisodesController</span> <span class="o">&lt;</span> <span class="no">ApplicationController</span>
  <span class="n">respond_to</span> <span class="ss">:json</span>

  <span class="k">def</span> <span class="nf">index</span>
    <span class="n">respond_with</span> <span class="no">Episode</span><span class="o">.</span><span class="n">all</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">show</span>
    <span class="n">respond_with</span> <span class="no">Episode</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="n">params</span><span class="o">[</span><span class="ss">:id</span><span class="o">]</span><span class="p">)</span>
  <span class="k">end</span>
<span class="k">end</span>
</pre>
</div>
