<div class="highlight"><pre><span class="l-Scalar-Plain">development</span><span class="p-Indicator">:</span>
  <span class="l-Scalar-Plain">...</span>

<span class="l-Scalar-Plain">test</span><span class="p-Indicator">:</span>
  <span class="l-Scalar-Plain">...</span>

<span class="l-Scalar-Plain">production</span><span class="p-Indicator">:</span>
  <span class="l-Scalar-Plain">website1</span><span class="p-Indicator">:</span>
    <span class="l-Scalar-Plain">domain</span><span class="p-Indicator">:</span> <span class="s">&quot;gary@superfriends.com&quot;</span>
    <span class="l-Scalar-Plain">user_name</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">gary</span>
    <span class="l-Scalar-Plain">password</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">superduper</span>
    <span class="l-Scalar-Plain">address</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">smtp.gmail.com</span>
    <span class="l-Scalar-Plain">port</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">587</span>
    <span class="l-Scalar-Plain">authentication</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">:plain</span>

  <span class="l-Scalar-Plain">website2</span><span class="p-Indicator">:</span>
    <span class="l-Scalar-Plain">domain</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">mysupercooldomain.com</span>
    <span class="l-Scalar-Plain">user_name</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">ABCDEF</span>
    <span class="l-Scalar-Plain">password</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">blahblah</span>
    <span class="l-Scalar-Plain">address</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">mail.authsmtp.com</span>
    <span class="l-Scalar-Plain">port</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">25</span>
    <span class="l-Scalar-Plain">authentication</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">:plain</span>
</pre>
</div>
